<template>
  <view class="container">
    <AppNavigation />
  </view>
</template>

<script>
import HomeScreen from "@/screens/HomeScreen";
import ScreenOne from "@/screens/ScreenOne";
import ScreenTwo from "@/screens/ScreenTwo";
import { createStackNavigator, createAppContainer } from "react-navigation";
const HomeStack = createStackNavigator({
  Home: HomeScreen,
  ScreenOne: ScreenOne,
  ScreenTwo: ScreenTwo,
});
const AppNavigation = createAppContainer(HomeStack);
export default {
  components: {
    HomeScreen,
    AppNavigation,
  },
};
</script>
<style>
.container {
  background-color: white;
  flex: 1;
}
.text-color-primary {
  color: blue;
}
</style>
