<template>
  <view class="container">
    <text class="text-color-primary"> {{ textClicked }} {{ clicks }} </text>
  </view>
</template>

<script>
export default {
  data() {
    return {
      title: "hey 2",
      clicks: 0,
    };
  },
  computed: {
    textClicked() {
      if (this.clicks <= 5) {
        return "come on click hey";
      } else {
        return "wow slow son!";
      }
    },
  },
  methods: {
    onPressLearnMore() {
      this.clicks = this.clicks + 1;
    },
  },
};
</script>
