<template>
  <view class="container">
    <text class="text-color-primary">
      {{ title }}
    </text>
  </view>
</template>

<script>
export default {
  data() {
    return {
      title: "screen one",
    };
  },
};
</script>
