<template>
  <view>
    <text class="text-color-primary">
      {{ title }}
    </text>
  </view>
</template>

<script>
export default {
  data() {
    return {
      title: "Hello 4",
    };
  },
};
</script>
<style>
.text-color-primary {
  color: blue;
}
</style>
